nav {
  display: flex;
  justify-content: space-between;
  position: relative;
  height: 120px;
  width: 100%;
  z-index: 2;
  background-color: #4056A1;
  color: #FFFFFF;
  padding: 1.5em;
  font-size: larger;
  
}

nav span {
  font-family: 'Bungee';
}

.writeTweet {
  font-family: 'Source Sans Pro';
  display: flex;
  flex-direction: column;
}

.writeTweet span {
  font-family: 'Source Sans Pro';
}
#downArrow {
  text-align: center;
}