.new-tweet form input {
  background-color: #4056A1;
  font-family: 'Bungee';
  color: #FFFFFF;
  
}
form {
  width: 80%;
  padding-left: 20%;
}

form textarea {
  border: none;
  background: #f4f1ec;
  border-bottom: 5px solid #545149;
  width: 100%;
  overflow: auto;
  height: 1.5em;

  
}
.new-tweet h2 {
text-align: center;
}

form input, form span {
  text-align: left;
}

.tweetInput {
  display: flex;
  justify-content: space-between;
}

.counter {
  font-family: Bungee;
}
